*{
    margin: 0;
}
body{
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 30%, rgb(139, 0, 0) 100%);
}

#cab{
    background: linear-gradient(90deg,rgba(0, 7, 217, 1) 0%, rgba(0, 38, 110, 1) 18%, rgba(0, 0, 0, 1) 69%, rgba(115, 117, 0, 1) 100%);
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: large;
    border: 4px solid #5a0101;
}